<!--<th:block th:fragment="nav-button">-->
<!--    <a class="nav-link text-white active h5"-->
<!--       th:with="baseUrl=( ${ #httpSession == null || #httpSession.getAttribute('username') == null ? '/' : '/home' })"-->
<!--       th:href="@{${baseUrl}}"-->
<!--    >Andrey's</a>-->
<!--    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"-->
<!--            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">-->
<!--        <span class="navbar-toggler-icon"></span>-->
<!--    </button>-->
<!--</th:block>-->