<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="bg">
    <th:block th:insert="head::head"></th:block>
<body>
<header>
    <nav class="navbar bg-dark navbar-expand-lg navbar-background bg-dark ">
        <a class="nav-link text-white active h5" th:href="@{/}">Andrey's</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <th:block th:insert="fragments/guest-nav"></th:block>
    </nav>
</header>
<main>
    <div class="container bg-blur mt-5">
        <h1>Welcome to Andrey's</h1>
        <hr class="my-3"/>
        <p class="h4">On our website you will find the best clothes to match your style.</p>
        <hr class="my-3"/>
        <h3>
            <a class="text-primay" th:href="@{/users/login}">Login</a>
            if you have an account or
            <a class="text-primay" th:href="@{/users/register}">Register</a>
            now and check our deals.
        </h3>
    </div>
</main>
    <th:block th:insert="footer::footer"></th:block>
</body>
</html>
